@import "./../../../styles.scss";

.card {
  border-radius: $default-border-radius;
  box-shadow: var(--elevation);
  padding: $default-padding;

  &__title {
    font-size: $font-size-large;
    font-family: $secondary-font;
    text-align: center;
    color: $brand-primary-color;
    text-shadow: 3px 3px 0 $brand-secondary-color,
      -1px -1px 0 $brand-secondary-color, 1px -1px 0 $brand-secondary-color,
      -1px 1px 0$brand-secondary-color, 1px 1px 0 $brand-secondary-color;
  }

  &__description {
    font-size: $font-size-small;
    font-family: $primary-font;
  }
}
