<main class="container">
  <div class="header">
    <div class="header__title">{{ title }}</div>
    <div class="header__search">
      <input
        class="header__search--input"
        type="text"
        name="search"
        value="search"
        [(ngModel)]="filter"
        (keyup)="search()"
        (keyup.enter)="search()"
        (change)="search()"
      />
      <button class="header__search--button" (click)="search()">
        <img *ngIf="lightTheme" src="../../../assets/images/loupe.svg" />
        <img *ngIf="!lightTheme" src="../../../assets/images/loupe-light.svg" />
      </button>
    </div>
    <button
      class="header__theme"
      [ngClass]="{
        'header__theme--dark': lightTheme,
        'header__theme--light': !lightTheme
      }"
      (click)="toggleTheme()"
      data-switch-dark
      aria-hidden
    >
      <img
        *ngIf="!lightTheme"
        src="../../../assets/images/light-bulb-solid.svg"
      />
      <img *ngIf="lightTheme" src="../../../assets/images/light-bulb.svg" />
    </button>
  </div>

  <div
    class="content"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
  >
    <ng-container *ngFor="let pokemon of pokemonList">
      <app-card [pokemon]="pokemon"></app-card>
    </ng-container>
  </div>
</main>
