@import "./../../../styles.scss";

.header {
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  padding: $default-padding;
  align-items: stretch;
  justify-content: space-between;
  &__search {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    &--input {
      @extend %input-base;
      margin-right: $default-margin;
    }
    &--button {
      @extend %button-base;
      img {
        svg {
          fill: var(--color-text);
          stroke: var(--color-text);
        }
        width: $icon-size;
      }
    }
  }
  &__theme {
    @extend %button-base;
    justify-content: end;
    &--dark {
      background-color: $light;
      img {
        fill: $light;
        width: $icon-size;
      }
    }
    &--light {
      background-color: $dark;
      img {
        fill: $light;
        width: $icon-size;
      }
    }
  }
}

.content {
  display: grid;
  grid-gap: 1rem;
  padding: $default-padding;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1500px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1800px) {
  .content {
    grid-template-columns: repeat(6, 1fr);
  }
}
